.footlightSearchWidget .panel-anchor {
  position: relative;
  margin: 0rem auto;
  width: 100%;
}

.footlightSearchWidget .panel-float {
  position: absolute;
  width: 100%;
  display: flex;
}

.footlightSearchWidget .panel-result {
  /* position: absolute; */
  /* z-index: 10; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: normal;
  /* border: thin solid black; */
  background: white;
  width: 100%;
  /* max-width: 40rem; */
  /* min-width: 30rem; */
}

.footlightSearchWidget .panel-content {
  display: flex;
  justify-content: space-between;
  max-height: 550px;
}

.footlightSearchWidget .panel-content .content div:last-child {
  overflow-y: scroll;
}

.footlightSearchWidget .react-calendar {
  max-width: 100%;
  width: auto;
}
.footlightSearchWidget .panel-content .content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.footlightSearchWidget .panel-content .content > div:first-child {
  flex-grow: 1;
}

/* Custom datepicker styles */

.footlightSearchWidget .react-calendar__tile {
  padding: 24px 0px 24.8px;
}

.footlightSearchWidget .react-calendar__tile--now {
  background: none;
}

.footlightSearchWidget .react-calendar__tile:enabled:hover {
  background: var(--primary-flash-yellow);
}

.footlightSearchWidget .react-calendar__tile--now:enabled:hover {
  background: var(--primary-flash-yellow);
}

.footlightSearchWidget .react-calendar__tile--now > abbr {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footlightSearchWidget .panel-content .result-header {
  padding: 32px 30px 16px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}


@media screen and (max-width: 650px) {
  .footlightSearchWidget .panel-content .content {
    width: 100%;
  }
}
