.date-range-wrapper {
  margin-left: 8px;
}
.date-range-wrapper .react-daterange-picker__wrapper {
  border: 0px;
}
.date-range-calendar-wrapper .react-calendar__tile {
  color: black;
}

.date-range-calendar-wrapper .react-calendar__tile--active,
.date-range-calendar-wrapper .react-calendar__tile:hover {
  background: #f2eb9f;
}

.date-range-calendar-wrapper .react-calendar__tile--rangeEnd,
.date-range-calendar-wrapper .react-calendar__tile--rangeStart,
.date-range-calendar-wrapper .react-calendar__tile--active:enabled:focus,
.date-range-calendar-wrapper .react-calendar__tile--hasActive {
  background-color: #fff649;
}

.react-daterange-picker {
  height: 100%;
}

.date-range-calendar-wrapper .react-calendar__navigation__label {
  font-weight: bold;
}
