.panel-anchor {
  position: relative;
  margin: 0rem auto;
  width: 100%;
  max-width: 40rem;
}

.panel-float {
  position: absolute;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: thin solid black;
}