:root {
  --primary-light-grey: #e0e0e0;
  --primary-flash-yellow: #fff649;
  --primary-ultra-light-grey: #f4f4f4;
  --primary-light-yellow: #f2eb9f;
  --primary-black: #000000;
  --primary-white:#FFFFFF;
  /* --primary-ultra-light-grey:#f7f7f7; */
}

html {
  font-family: TT Commons;
}

.footlightSearchWidget {
  display: flex;
  flex-direction: column;
}

.footlightSearchWidget form {
  display: flex;
  width: 80%;
}

.footlightSearchWidget input[type="submit"] {
  cursor: pointer;
  background: url("/public/search-icon.svg") no-repeat left 10px center;
  background-color: white;
  border: none;
  box-shadow: none;
  outline: none;
  text-indent: 100px;
  width: 45px;
  height: 40px;
  box-sizing: border-box;
}

.footlightSearchWidget input[type="text"] {
  width: 80%;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 24px;
  box-sizing: border-box;
}

.footlightSearchWidget input[type="date"] {
  width: 300px;
  justify-content: end;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 24px;
  box-sizing: border-box;
  background: none;
  /* border-bottom: 1px solid black; */
}

#calendar-icon-id {
  width: 35px;
  height: 35px;
}
.react-tiny-popover-container {
  z-index: 100;
}
.react-calendar-wrapper {
  border: 0px !important;
}
.react-calendar-wrapper .react-calendar__tile {
  color: #000000;
}

.react-calendar-wrapper .react-calendar__tile--rangeEnd,
.react-calendar-wrapper .react-calendar__tile--rangeStart {
  background: var(--primary-flash-yellow) !important;
}

.react-calendar-wrapper .react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar-wrapper .react-calendar__month-view__weekdays__weekday > abbr {
  font-weight: normal;
  text-decoration: none;
}

.react-calendar-wrapper .react-calendar__tile--active:enabled:hover,
.react-calendar-wrapper .react-calendar__tile--active:enabled:focus,
.react-calendar-wrapper .react-calendar__tile--hasActive {
  background: var(--primary-light-yellow);
}

.react-calendar-wrapper .react-calendar__tile--active {
  background: var(--primary-light-yellow);
}

.footlightSearchWidget .loader{
  width: 60%;
  text-align: center;
  display: grid;
  place-content: center;
}