.footlightSearchWidget {
  display: flex;
  flex-direction: column;
}

.footlightSearchWidget form {
  display: flex;
}

.footlightSearchWidget input[type="submit"] {
  cursor: pointer;
  background: url("/public/search-icon.svg") no-repeat left 10px center;
  background-color: white;
  border: none;
  box-shadow: none;
  outline: none;
  text-indent: 100px;
  width: 45px;
  height: 40px;
  box-sizing: border-box;
}

.footlightSearchWidget input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  /* text-transform: uppercase; */
  font-size: 24px;
  box-sizing: border-box;
}
.footlightSearchWidget input[type="date"] {
  width: 300px;
  justify-content: end;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 24px;
  box-sizing: border-box;
}
